<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;
  });
  // Simulate an HTTP redirect:
window.location.replace("https://go.weissratings.com/unsubscribe-wci.html");
</script>

<main>
</main>
